:host {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #e1ddd0;
    justify-content: center;
    align-items: center;
  }
  
  .forgot-password-container {
    width: 350px;
    padding: 30px;
    border-radius: 25px;
    background-color: #716b6b;
    box-shadow: 4px 4px 10px #252525, -4px -4px 10px #252525;
    text-align: center;
    font-family: 'Arial', sans-serif;
    transition: 0.4s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
      border: 1px solid black;
    }
  
    .card {
      background: #c3bda5;
      padding: 25px;
      border-radius: 15px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  
      .card2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  
    .form {
      width: 100%;
  
      #heading {
        font-size: 24px;
        color: white;
        margin-bottom: 20px;
      }
  
      .field {
        margin-bottom: 20px;
  
        .input-field {
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 25px;
          background-color: #716b6b;
          box-shadow: inset 2px 2px 5px #0b0b0b, inset -2px -2px 5px #ffffff;
          font-size: 16px;
          color: #ffffff;
          font-weight: bold;
        }
      }
  
      .btn {
        margin-top: 2.5em;
  
        .button1 {
          width: 100%;
          padding: 12px;
          border: none;
          border-radius: 50px;
          background: linear-gradient(145deg, #5b5757, #0f0f0f);
          color: white;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
          transition: transform 0.3s ease;
  
          &:hover {
            transform: scale(1.1);
          }
        }
      }
  
      .routes {
        margin-top: 20px;
  
        .route-link {
          display: block;
          color: #161615;
          text-decoration: none;
          margin: 10px 0;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  