

<div class = "main">


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-inner" >
          <div class="carousel-item active">
            <img src="https://www.record.com.mx/sites/default/files/styles/v2-crop768x433/public/articulos/2023/03/30/hennessey_venom_f5_roadster-6.jpg?itok=oPoTUVvP" class="d-block w-100" alt="100">
          </div>
          <div class="carousel-item">
            <img src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/6B34/production/_94244472_9.jpg.webp" class="d-block w-100" alt="100">
          </div>
          <div class="carousel-item">
            <img src="https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/4GSUPRZXXREO7A3YKFIT3W2RMM.jpg" class="d-block w-100" alt="100">
          </div>
        </div>
      </div>

  </div>