<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <img src="assets/Logo.png" alt="Sakai logo" height="100" class="mb-3 mt-3">
    <div
      style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <p-avatar icon="pi pi-user" size="large" class="mb-3"></p-avatar>
          <div class="text-900 text-3xl font-medium mb-3 mt-3">Bienvenido usuario</div>
          <span class="text-600 font-medium">Inicia sesión para continuar</span>
        </div>

        <p-toast key="tst"></p-toast>
        <form (ngSubmit)="loginUser()">
          <div class="p-fluid">
            <div class="field mt-4">
              <label for="email1" class="block text-900 text-xl font-medium mb-2">Correo</label>
              <input id="email1" type="text" placeholder="Dirección de correo electrónico" pInputText
                class="w-full md:w-30rem" [(ngModel)]="formData.email" name="email" required>
            </div>

            <div class="field mt-4">
              <label for="password1" class="block text-900 text-xl font-medium mb-2">Contraseña</label>
              <p-password id="password1" [(ngModel)]="formData.password" placeholder="Contraseña" [toggleMask]="true"
                inputStyleClass="w-full" name="password" required>
              </p-password>
            </div>

            <div class="flex align-items-center justify-content-between mb-5 mt-4 gap-5">
              <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)"
                (click)="navigateToCreateUser()">No tengo cuenta</a>
              <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)"
                (click)="navigateToForgotPassword()">Olvidé mi contraseña</a>
            </div>

            <div class="mt-4">
              <button pButton pRipple label="Iniciar sesión" class="w-full p-3 text-xl" type="submit"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
